@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=MuseoModerno:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pinyon+Script&family=Sacramento&display=swap');
//basic changes for all tags
*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
}
.main-container{

    max-width: 100vw;
    min-height:100vh;
    background-color: rgb(204, 248, 138);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;

    .text-container{
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        a{
            position: absolute;
            top: 2vh;
            left: 4vw;
            text-decoration: none;
            color: white;
            background-color: green;
            padding: .2rem .8rem;
            border-radius: 1rem;
            cursor: pointer;
            &:hover{
                background-color: rgb(44, 168, 44);
            }
        }
        h1{
            //background-color: red;
            text-align: center;
            font-family: "Lobster" ,"sans-serif";
            font-size: 3rem;
            letter-spacing: 2px;
            color: green;
            margin-top: 2rem ;
        }
        
    }
    .button-container{
        width: 80vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            padding: .5rem 1rem;
            font-size: 1.6rem;
            margin-bottom: 2vh;
            border: 0;
            border-radius: 1rem;
            color: grey;
            text-decoration: none;
            cursor: pointer;
            &:nth-child(1){
                background-color: yellow;
                &:hover{
                    background-color: rgb(255, 223, 118);
                    color: white;
                   
                }
            }
            &:nth-child(2){
                background-color: skyblue;
                &:hover{
                    background-color: rgb(115, 176, 201);
                    color: white;
                }
            }
            &:nth-child(3){
                background-color: orange;
                &:hover{
                    background-color: orangered;
                    color: white;
                }
            }
            &:nth-child(4){
                background-color: lightgreen;
                &:hover{
                    background-color: rgb(100, 165, 100);
                    color: white;
                }
            }
            &:nth-child(5){
                background-color: lightpink;
                color: grey;
                &:hover{
                    background-color: rgb(231, 83, 105);
                    color: white;
                }
            }
            &:nth-child(6){
                background-color: lightseagreen;
                color: grey;
                &:hover{
                    background-color: rgb(64, 121, 118);
                }
            }
            &:nth-child(7){
                background-color: gray;
                color: white;
                &:hover{
                    background-color: darkgrey;
                }
            }
            &:nth-child(6){
                background-color: lightseagreen;
                color: white;
                &:hover{
                    background-color: rgb(64, 121, 118);
                }
            }
        }
    }
}

@media all and (max-width:600px){

}